<h3>Add expense</h3>

{{expense-form group=model save=(route-action 'save')}}

<div class="grid">
  <div class="col sml-12">
    {{link-to 'Back to group' 'group' model class="button"}}
  </div>
</div>
