body {
  font-family: 'Roboto', sans-serif;
}

h3 {
  margin-top: 1rem;
}

/* Force textareas to only resize vertically */
textarea {
  resize: vertical;
}

.group-link {
  color: #000;
}

.group-link:hover,
.group-link:focus {
  text-decoration: none;
}

.group {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background: #eee;
  /*cursor: pointer;*/
}

.group-name {
  font-weight: bold;
}

/* Fix for PluCSS full-size button */
input[type="submit"].full-width,
a.button.full-width {
  width: 100%;
}

a.button {
  display: block;
  text-align: center;
}

/* Top navbar
-------------------------------------------------------- */
.top-navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.top-navbar li a.active {
  background-color: #258fd6;
  color: #fff;
}

/* Expenses (list)
-------------------------------------------------------- */
.expense {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.expense .amount {
  font-weight: bold;
}
