body {
  font-family: 'Roboto', sans-serif;
}

.group {
  margin-bottom: 1rem;
}

.group-name {
  font-weight: bold;
}

/* Fix for PluCSS full-size button */
input[type="submit"].full-width {
  width: 100%;
}
