{{#each model as |group|}}
  <div class="group">
    <div class="group-name">
      {{group.name}}
    </div>
    <div class="group-description">
      {{group.description}}
    </div>
  </div>
{{else}}
  <div class="no-groups">There are no groups available.</div>
{{/each}}

{{group-form}}
