<form>
  <fieldset>
    <div>
      <label for="inputGroupName">Name</label><br>
      <input type="text" id="inputGroupName">
    </div>

    <div>
      <label for="inputGroupDescription">Description</label><br>
      <textarea id="inputGroupDescription" rows="7"></textarea>
    </div>

    <div>
      <input type="submit" value="Create new group">
    </div>
  </fieldset>
</form>
